.login-container {
  display: flex;
  height: 100vh; 
}

.login-blue-side {
  flex: 1; 
  background-color: #0946DF; 
}

.login-arrow {
  position: absolute; 
  top: 7%; /* Alinha verticalmente ao centro */
  left: 3%; /* Alinha horizontalmente ao centro */
  cursor: pointer;
}

.login-white-side {
  flex: 1; 
  background-color: white; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.login-title {
  margin-bottom: 20px; 
  font-size: 24px; /* Ajuste de tamanho para o título */
}

.login-form {
  display: flex;
  flex-direction: column; 
  width: 70%;
  align-items: center; /* Alinhamento centralizado */
}

.login-input {
  margin-bottom: 20px; /* Diminui o espaço entre os inputs */
  padding: 20px; /* Diminui o padding */
  border: 1px solid #ccc; 
  border-radius: 50px; 
  width: 100%; /* Preenche toda a largura do formulário */
  max-width: 300px; /* Limita o tamanho máximo dos inputs */

}

.login-button {
  padding: 20px; /* Diminui o padding */
  background-color: #0946DF; 
  color: white;
  border: none; 
  border-radius: 50px; 
  cursor: pointer; 
  width: 100%; 
  max-width: 350px; /* Limita o tamanho máximo do botão */
  margin-bottom: 20px; /* Diminui o espaço inferior */
  font-size: 18px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: 10px center; /* Ajusta a posição do ícone */
  background-size: 20px 20px; /* Ajusta o tamanho do ícone */
  padding-left: 40px; /* Cria espaço para o ícone */

}

.login-button:hover {
  background-color: darkblue;
}

.login-link {
  margin-top: 15px; 
  color: rgb(19, 141, 255); 
  text-decoration: none; 
}
