/* src/pages/MeuPerfilContratante/EditarMeuPerfilContratante.css */
.perfil-container {
  display: flex;
  height: 100vh;
  background-color: #fff;
}

.perfil-sidebar {
  background-color: #ffffff;
  width: 250px;
  padding: 20px;
}

.perfil-nav ul {
  list-style-type: none;
  padding: 0;
}

.perfil-nav ul li {
  margin-bottom: 20px;
}

.perfil-nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #2C65F6;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.perfil-nav ul li a:hover {
  background-color: #dbdbdb;
}

.perfil-icon {
  margin-right: 10px;
}

.perfil-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfil-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(255, 255, 255, 0.1);
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.perfil-title {
  font-size: 1.5rem;
  color: #2C65F6;
  text-align: center;
  margin-bottom: 20px;
}

.perfil-field {
  display: flex;
  flex-direction: column;
}

.perfil-field label {
  margin-bottom: 5px;
}

.perfil-field input,
.perfil-field textarea,
.perfil-field select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 0.875rem;
}

.perfil-upload-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.perfil-button {
  background-color: #4E9FFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.perfil-upload-button:hover,
.perfil-button:hover {
  background-color: #007bff;
}
